.contact {
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 220px;
    display: flex;
    flex-direction: column; /* Organiza os elementos em uma coluna */
    align-items: center; /* Centraliza os elementos horizontalmente */
  }


  
  .contact-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .contact-icons img {
    height: 50px;
  }

  @media (max-width: 768px) {
    .skills {
      padding: 10px;
    }
  }

  @media (max-width: 768px) {
    /* Estilos para telas menores que 768px de largura */
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para telas entre 768px e 1024px de largura */
  }
  
  @media (min-width: 1024px) {
    /* Estilos para telas maiores que 1024px de largura */
  }
  
  