.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta a altura conforme necessário */
    margin-top: 60px; /* Mantém o espaço do topo, conforme originalmente configurado */
    font-size: 30px;
  }
  
  .typing {
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange;
    animation: typing 4s steps(40, end) forwards, blink-caret .75s step-end infinite;
    color: rgb(21, 164, 207); /* Cor do texto */
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 28ch; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Altura do navbar */
    background-color: rgba(0, 0, 0, 0.799); /* Cor de fundo do navbar */
    font-size: 18px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    transition: color 0.3s ease; /* Transição suave da cor do texto */
    position: relative;
    cursor: pointer;
  }
  
  .navbar a:hover {
    color: rgb(21, 164, 207); /* Cor alterada ao passar o mouse */
  }
  
  .navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(21, 164, 207); /* Cor da linha (seta do mouse) */
    bottom: 0;
    left: 0;
    transform: scaleX(0); /* Inicia com largura zero */
    transform-origin: bottom right;
    transition: transform 0.3s ease; /* Transição suave da largura */
  }
  
  .navbar a:hover::after {
    transform: scaleX(1); /* Aumenta a largura ao passar o mouse */
    transform-origin: bottom left;
  }

  @media (max-width: 768px) {
    .skills {
      padding: 10px;
    }
  }

  @media (max-width: 768px) {
    /* Estilos para telas menores que 768px de largura */
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para telas entre 768px e 1024px de largura */
  }
  
  @media (min-width: 1024px) {
    /* Estilos para telas maiores que 1024px de largura */
  }
  
  
  
  