body {
  background-color: rgb(17, 17, 40);
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar a {
  color: rgb(21, 164, 207);
  text-decoration: none;
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  /* Estilos para telas menores que 768px de largura */
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Estilos para telas entre 768px e 1024px de largura */
}

@media (min-width: 1024px) {
  /* Estilos para telas maiores que 1024px de largura */
}





